.Big_Boss{
    /*iniciar container FLEX*/
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
}

.Litle_Boss{
    background-color: aqua;
        flex: 1;   /* cada filha cresce igualmente*/
        border: 1px solid red;
}